@using Microsoft.AspNetCore.Identity
@inject SignInManager<Uzytkownicy> SignInManager
@inject UserManager<Uzytkownicy> UserManager
<div>
    <ul class="navbar-nav" >
        @if (SignInManager.IsSignedIn(User))
        {
        <li>
            <a class="btn btn-secondary" asp-area="" asp-controller="Konto" asp-action="Manage">Hello @User.Identity.Name!</a>
            
        </li>
            
            @if (this.User.IsInRole("Bibliotekarz") || this.User.IsInRole("Admin"))
            {
    <li>
        &nbsp;
        <a class="btn btn-secondary" asp-area="" asp-controller="Konto" asp-action="Register">Register</a>
        
    </li>

                <li class="nav-item">
                    <div class="dropdown mr-1">
                        &nbsp;
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                            Zarzadzaj
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Ksiazka" asp-action="Index">Ksiazki</a>
                            <a class="dropdown-item" asp-controller="Autorzy" asp-action="Index">Autorzy</a>
                            <a class="dropdown-item" asp-controller="Kategorie" asp-action="Index">Kategorie</a>
                            <a class="dropdown-item" asp-controller="Dostawcy" asp-action="Index">Dostawcy</a>
                            <a class="dropdown-item" asp-controller="Wydawnictwa" asp-action="Index">Wydawnictwa</a>
                            <a class="dropdown-item" asp-controller="Zamowienia" asp-action="Index">Zamowienia</a>
                            <a class="dropdown-item" asp-controller="Rezerwacje" asp-action="Index">Rezewacje</a>

                        </div>
                    </div>
                </li>
            }
            @if (this.User.IsInRole("Klient"))
            {
                
                <li class="nav-item">
                    <div class="dropdown mr-1">
                        &nbsp;
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                            Moje
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Konto" asp-action="KsiazkiKlienta">Ksiazki</a>
                            <a class="dropdown-item" asp-controller="Konto" asp-action="RezerwacjeKlienta">Rezerwacje</a>
                        </div>
                    </div>
                </li>
            }
            <li class="nav-item">
                <form class="form-inline" asp-area="" asp-controller="Konto" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    &nbsp;
                    <button type="submit" class="btn btn-outline-secondary">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Konto" asp-action="Login">Login</a>
            </li>
        }
    </ul>
</div>