@{
    ViewData["Title"] = "Details";
}
@model SBDlibrary.Models.Kategorie

<h1>Szczegóły</h1>

<div>
    <h2>Kategorie</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_kategorii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_kategorii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nazwa)
        </dd>
    </dl>
</div>
