
@{
    ViewData["Title"] = "Wypozyczono";
}

<br />
<br />
<h1 style="text-align:center">Wypożyczono książkę</h1>
<br />
<div style="text-align:center">
    <a asp-action="Index" asp-controller="Ksiazka">Powrót na listę</a>
</div>
