@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider

@model SBDlibrary.Controllers.AccountController.InputModelLogin
@{
    ViewData["Title"] = "Login";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<form class="form" method="post" novalidate>
    <h2 class="form-heading">Please sign in</h2>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
    </div>      
</form>

<hr />

<div class="external-providers">
    @foreach (var scheme in await schemeProvider.GetRequestHandlerSchemesAsync())
    {
        <a asp-action="LogInExternal" asp-route-id="@scheme.Name" class="btn btn-lg btn-default">@scheme.DisplayName</a>
    }
</div>