@model SBDlibrary.Models.Zamowienia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zamowienia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_dostawcy" class="control-label"></label>
                <select asp-for="id_dostawcy" class="form-control" asp-items="ViewBag.id_dostawcy"></select>
            </div>
            <div class="form-group">
                <label asp-for="data_zamowienia" class="control-label"></label>
                <input asp-for="data_zamowienia" class="form-control" />
                <span asp-validation-for="data_zamowienia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status_zamowienia" class="control-label"></label>
                <select asp-for="status_zamowienia" class="form-control" asp-items="ViewBag.status"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

