@model SBDlibrary.ViewModels.BookViewModels.KsiazkaViewModel

@{
    ViewData["Title"] = "Książki";
}

<form asp-action="Create">
    <h2 class="form-heading">add new book</h2>
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="tytuł"></label>
            <input asp-for="tytuł" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="autorzy" class="control-label"></label>
            <input asp-for="autorzy" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="kategorie" class="control-label"></label>
            <input asp-for="kategorie" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="id_wydawnictwo" class="control-label"></label>
            <select asp-for="id_wydawnictwo" class="form-control" asp-items="ViewBag.wydawnictwa"></select>
        </div>

        <div class="form-group">
            <label asp-for="data_wydania"></label>
            <input asp-for="data_wydania" class="form-control" />
            <span asp-validation-for="data_wydania" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input class="btn btn-lg btn-primary btn-block" type="submit"/>
        </div>
    </div>
</form>