@{
    ViewData["Title"] = "Details";
}
@model SBDlibrary.Models.Ksiazki

<h1>Details</h1>

<div>
    <h2>EventsModel</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_ksiazki)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tytuł)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wydawnictwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data_wydania)
        </dd>
     </dl>
</div>


