@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="">
    <h1 class="display-4">NAJLEPSZA BIBLIOTEKA STUDENCKA EVER</h1>
   <br /><br />
</div>

</section>
<aside id="kurwa">
    <section>
        <h2>Najnowsze ksiązki</h2>
        <ul>
            <li><a href="#">Jakas ksiazka</a></li>
            <li><a href="#">Jakas ksiazka</a></li>
            <li><a href="#">Jakas ksiazka</a></li>
            <li><a href="#">Jakas ksiazka</a></li>
        </ul>
    </section>
