@model SBDlibrary.Models.Wydawnictwa
@{
    ViewData["Title"] = "Wydawnictow";
}

<form class="form" method="post" novalidate>
    <h2 class="form-heading">add</h2>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="id_wydawnictwa"></label>
            <input asp-for="id_wydawnictwa" class="form-control" />
            <span asp-validation-for="id_wydawnictwa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nazwa"></label>
            <input asp-for="nazwa" class="form-control" />
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </div>
</form>